{% extends 'app.twig' %}

{% block content %}
<h1>Results</h1>

<p>You matched with <!-- NUMBER OF COMPANIES MATCHED --> </p>

<div class="matches card">
    {% for company in matchedCompanies %}
        <div class="matches__match card-body">
            <h3 class="card-title">{{ company.name }}</h3>
            <p>{{ company.description }}</p>
            <a href="#collapse-{{ company.id }}" role="button" data-bs-toggle="collapse" class="matches__match__more card-link" aria-expanded="false" aria-controls="collapse-{{ company.id }}">more</a>
            
            <div id="collapse-{{ company.id }}" class="match__match__details collapse">
                <p><strong>Email:</strong> <a href="mailto:{{ company.email }}">{{ company.email }}</a></p>
                <p><strong>Phone:</strong> <a href="tel:{{ company.phone }}">{{ company.phone }}</a></p>
                <p><strong>Website:</strong> <a href="{{ company.website }}">{{ company.website }}</a></p>
            </div>
        </div>
    {% endfor %}

    <div class="card-footer">
        <a href="/form" class="btn btn-outline-dark">&lt;Back</a>
    </div>
</div>

{% endblock %}